.navBar{
    width: 100vw;
    text-align: center;
}

.h1-navbar{
    color: white;
    margin: auto;
    padding: auto;

}
.logo{
    height: 140px;
    margin: 0;

}

.logo:hover{

    cursor: pointer;
    transform:  scale(1.06);
    
}