.navBar{
    width: 100vw;
    height: 20vh;
    text-align: center;
    padding: 10px;
}

.h1-navbar{
    color: white;
    margin: auto;
    padding: auto;

}
.logo{
    height: 140px;


}

.logo:hover{

    cursor: pointer;
    transform:  scale(1.06);
    
}